@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Inter", sans-serif;
}

*,*:before,*after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: "Inter", sans-serif;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul il{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-family: "Inter", sans-serif;font-weight: 700;}

main{
    padding: 150px 0% 0% 0%;
}

span#nav__main__beta{
    font-size: 16px;
    border: 2px solid #E4E4E4;
    border-radius: 15%;
    background: #E4E4E4;
}


div#nav__main{
    text-align: center;
    color: #2462EA;
    font-weight: 700;
    font-size: 28px;
}

div#main__text{
    margin: auto;
    text-align: center;
    color: #2462EA;
    max-width: 13em;
    font-size: 48px;
    font-weight: 700;
}

nav{
    text-align: center;
}

li {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 0 2px;
}

a#li__p,#li__f,#li__youtube,#li__teltegram{
    color: #7C7C7C;
}

img#img__youtube,#img__telegram{
    max-width: 100%;
}

li#li__youtube,#img__telegram{
    max-width: 30px;
    padding: 0 2px;
}

#button {
    text-align: center;
    padding: 5% 0% 0% 0%;
}

a.button{
    color: #2462EA;
    max-width: 13em;
    font-size: 15px;
    font-weight: 700;
    background-color: #E9E9E9;
    padding: 15px 50px;
    border-radius: 10px;
    display: inline-block;
    box-shadow:#DFDFDF 0 -4px 0 inset;
}

a.button:hover {
  box-shadow:  #DFDFDF 0 -2px 0 inset;
  transform: translateY(2px);
}